USE [master]
GO
/****** Object:  Database [TPSDb]    Script Date: 05/12/2019 09:58:03 ******/
CREATE DATABASE [TPSDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TPSDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TPSDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TPSDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TPSDb_log.ldf' , SIZE = 8512KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TPSDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TPSDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 05/12/2019 09:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 05/12/2019 09:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 05/12/2019 09:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 05/12/2019 09:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 05/12/2019 09:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 05/12/2019 09:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 05/12/2019 09:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 05/12/2019 09:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 05/12/2019 09:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[ASCII] [nvarchar](255) NOT NULL,
	[Latitude] [real] NOT NULL,
	[Longitude] [real] NOT NULL,
	[Country] [nvarchar](255) NOT NULL,
	[Code] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CityAttractions]    Script Date: 05/12/2019 09:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityAttractions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CityId] [int] NOT NULL,
	[CityName] [nvarchar](max) NULL,
 CONSTRAINT [PK_CityAttractions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerTravelPackages]    Script Date: 05/12/2019 09:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerTravelPackages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[TravelPackageId] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[SalePrice] [decimal](18, 2) NOT NULL,
	[Feedback] [nvarchar](max) NULL,
	[VoucherId] [int] NOT NULL,
 CONSTRAINT [PK_CustomerTravelPackages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 05/12/2019 09:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerTravelPackageId] [int] NOT NULL,
	[DateTime] [datetime2](7) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentType] [nvarchar](max) NOT NULL,
	[TransactionHashcode] [nvarchar](max) NULL,
	[RecordOfCharge] [nvarchar](max) NULL,
	[PayPalPayment_RecordOfCharge] [nvarchar](max) NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 05/12/2019 09:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NULL,
	[Forename] [nvarchar](255) NOT NULL,
	[Surname] [nvarchar](255) NOT NULL,
	[PersonType] [nvarchar](max) NOT NULL,
	[TravelProviderId] [int] NULL,
 CONSTRAINT [PK_People] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TravelPackageCities]    Script Date: 05/12/2019 09:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TravelPackageCities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TravelPackageId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[NumberOfDays] [int] NOT NULL,
	[CityName] [nvarchar](max) NULL,
 CONSTRAINT [PK_TravelPackageCities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TravelPackageCityAttractions]    Script Date: 05/12/2019 09:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TravelPackageCityAttractions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TravelPackageCityId] [int] NOT NULL,
	[CityAttractionId] [int] NOT NULL,
 CONSTRAINT [PK_TravelPackageCityAttractions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TravelPackages]    Script Date: 05/12/2019 09:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TravelPackages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[StatusId] [int] NOT NULL,
	[RRP] [decimal](18, 2) NOT NULL,
	[DurationDay] [int] NOT NULL,
	[DurationNight] [int] NOT NULL,
	[IntensityId] [int] NULL,
	[Comment] [nvarchar](10) NULL,
	[Rating] [int] NULL,
 CONSTRAINT [PK_TravelPackages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TravelProviders]    Script Date: 05/12/2019 09:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TravelProviders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_TravelProviders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 05/12/2019 09:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[DiscountPercentage] [int] NOT NULL,
	[Expires] [datetime2](7) NOT NULL,
	[Valid] [bit] NOT NULL,
 CONSTRAINT [PK_Vouchers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'00000000000000_CreateIdentitySchema', N'3.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20191106235423_Initial', N'2.2.0-rtm-35687')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20191118235159_modifytravelpackage', N'3.0.0')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'67c3020c-8d3b-4ec6-a135-d8356f85f843', N'Administrator', N'Administrator', N'e2c431ea-a7b6-4778-a720-c676cefd6d1d')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'67c3020c-8d3b-4ec6-a135-d8356f85f845', N'Customer', N'Customer', N'e3c431ea-a7b6-4778-a720-c676cefd6d1d')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'a6c592d9-3986-4faf-8824-9af8261ad572', N'67c3020c-8d3b-4ec6-a135-d8356f85f843')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'3b838cf8-ec1f-41e5-a03d-07e926ceafb9', N'67c3020c-8d3b-4ec6-a135-d8356f85f845')
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [Name], [ASCII], [Latitude], [Longitude], [Country], [Code]) VALUES (1036006022, N'Exmouth', N'Exmouth', -21.9311, 114.1233, N'Australia', N'AUS')
INSERT [dbo].[Cities] ([Id], [Name], [ASCII], [Latitude], [Longitude], [Country], [Code]) VALUES (1036007778, N'Melton', N'Melton', -37.6895, 144.57, N'Australia', N'AUS')
INSERT [dbo].[Cities] ([Id], [Name], [ASCII], [Latitude], [Longitude], [Country], [Code]) VALUES (1036014905, N'Biloela', N'Biloela', -24.3936, 150.4961, N'Australia', N'AUS')
GO
SET IDENTITY_INSERT [dbo].[Cities] OFF
SET IDENTITY_INSERT [dbo].[CityAttractions] ON 

INSERT [dbo].[CityAttractions] ([Id], [Name], [Description], [CityId], [CityName]) VALUES (5, N'Crocodile Farm', N'Chomp Chomp', 1036016939, N'Cairns')
INSERT [dbo].[CityAttractions] ([Id], [Name], [Description], [CityId], [CityName]) VALUES (6, N'Fitzroy Island', N'Swim Swim', 1036016939, N'Cairns')
INSERT [dbo].[CityAttractions] ([Id], [Name], [Description], [CityId], [CityName]) VALUES (7, N'Church', N'Pray Prey', 1036538171, NULL)
SET IDENTITY_INSERT [dbo].[CityAttractions] OFF
SET IDENTITY_INSERT [dbo].[People] ON 

INSERT [dbo].[People] ([Id], [UserId], [Forename], [Surname], [PersonType], [TravelProviderId]) VALUES (6, N'3b838cf8-ec1f-41e5-a03d-07e926ceafb9', N'Charlie', N'Black', N'Customer', NULL)
INSERT [dbo].[People] ([Id], [UserId], [Forename], [Surname], [PersonType], [TravelProviderId]) VALUES (7, N'a6c592d9-3986-4faf-8824-9af8261ad572', N'Edward', N'Black', N'Employee', 1)
SET IDENTITY_INSERT [dbo].[People] OFF
SET IDENTITY_INSERT [dbo].[TravelPackageCities] ON 

INSERT [dbo].[TravelPackageCities] ([Id], [TravelPackageId], [CityId], [NumberOfDays], [CityName]) VALUES (6, 1, 1036016939, 2, N'Cairns')
INSERT [dbo].[TravelPackageCities] ([Id], [TravelPackageId], [CityId], [NumberOfDays], [CityName]) VALUES (7, 1, 1036846186, 3, N'Forster-Tuncurry')
INSERT [dbo].[TravelPackageCities] ([Id], [TravelPackageId], [CityId], [NumberOfDays], [CityName]) VALUES (8, 3, 1036016939, 5, N'NULLCairns')
SET IDENTITY_INSERT [dbo].[TravelPackageCities] OFF
SET IDENTITY_INSERT [dbo].[TravelPackageCityAttractions] ON 

INSERT [dbo].[TravelPackageCityAttractions] ([Id], [TravelPackageCityId], [CityAttractionId]) VALUES (5, 8, 7)
INSERT [dbo].[TravelPackageCityAttractions] ([Id], [TravelPackageCityId], [CityAttractionId]) VALUES (6, 8, 8)
INSERT [dbo].[TravelPackageCityAttractions] ([Id], [TravelPackageCityId], [CityAttractionId]) VALUES (7, 10, 16)
SET IDENTITY_INSERT [dbo].[TravelPackageCityAttractions] OFF
SET IDENTITY_INSERT [dbo].[TravelPackages] ON 

INSERT [dbo].[TravelPackages] ([Id], [Name], [Description], [StatusId], [RRP], [DurationDay], [DurationNight], [IntensityId], [Comment], [Rating]) VALUES (1, N'Australia East Coast Tour no more', N'Great time exploring Australia''s East Coast', 0, CAST(2500.00 AS Decimal(18, 2)), 3, 2, 1, N'abc', 1)
INSERT [dbo].[TravelPackages] ([Id], [Name], [Description], [StatusId], [RRP], [DurationDay], [DurationNight], [IntensityId], [Comment], [Rating]) VALUES (2, N'Western Australia Warrior', N'Battle your way through the west coast', 1, CAST(5000.00 AS Decimal(18, 2)), 4, 3, 2, N'abc', 2)
INSERT [dbo].[TravelPackages] ([Id], [Name], [Description], [StatusId], [RRP], [DurationDay], [DurationNight], [IntensityId], [Comment], [Rating]) VALUES (3, N'Totally Worth It', N'Blow your mind, and your budget', 0, CAST(10000.00 AS Decimal(18, 2)), 6, 0, 2, N'abc', 3)
SET IDENTITY_INSERT [dbo].[TravelPackages] OFF
SET IDENTITY_INSERT [dbo].[TravelProviders] ON 

INSERT [dbo].[TravelProviders] ([Id], [Name]) VALUES (1, N'Grande Travel')
SET IDENTITY_INSERT [dbo].[TravelProviders] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 05/12/2019 09:58:03 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 05/12/2019 09:58:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 05/12/2019 09:58:03 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 05/12/2019 09:58:03 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 05/12/2019 09:58:03 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 05/12/2019 09:58:03 ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 05/12/2019 09:58:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CityAttractions_CityId]    Script Date: 05/12/2019 09:58:03 ******/
CREATE NONCLUSTERED INDEX [IX_CityAttractions_CityId] ON [dbo].[CityAttractions]
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerTravelPackages_CustomerId]    Script Date: 05/12/2019 09:58:03 ******/
CREATE NONCLUSTERED INDEX [IX_CustomerTravelPackages_CustomerId] ON [dbo].[CustomerTravelPackages]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerTravelPackages_TravelPackageId]    Script Date: 05/12/2019 09:58:03 ******/
CREATE NONCLUSTERED INDEX [IX_CustomerTravelPackages_TravelPackageId] ON [dbo].[CustomerTravelPackages]
(
	[TravelPackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerTravelPackages_VoucherId]    Script Date: 05/12/2019 09:58:03 ******/
CREATE NONCLUSTERED INDEX [IX_CustomerTravelPackages_VoucherId] ON [dbo].[CustomerTravelPackages]
(
	[VoucherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_CustomerTravelPackageId]    Script Date: 05/12/2019 09:58:03 ******/
CREATE NONCLUSTERED INDEX [IX_Payments_CustomerTravelPackageId] ON [dbo].[Payments]
(
	[CustomerTravelPackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_People_TravelProviderId]    Script Date: 05/12/2019 09:58:03 ******/
CREATE NONCLUSTERED INDEX [IX_People_TravelProviderId] ON [dbo].[People]
(
	[TravelProviderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TravelPackageCities_CityId]    Script Date: 05/12/2019 09:58:03 ******/
CREATE NONCLUSTERED INDEX [IX_TravelPackageCities_CityId] ON [dbo].[TravelPackageCities]
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TravelPackageCities_TravelPackageId]    Script Date: 05/12/2019 09:58:03 ******/
CREATE NONCLUSTERED INDEX [IX_TravelPackageCities_TravelPackageId] ON [dbo].[TravelPackageCities]
(
	[TravelPackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TravelPackageCityAttractions_CityAttractionId]    Script Date: 05/12/2019 09:58:03 ******/
CREATE NONCLUSTERED INDEX [IX_TravelPackageCityAttractions_CityAttractionId] ON [dbo].[TravelPackageCityAttractions]
(
	[CityAttractionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TravelPackageCityAttractions_TravelPackageCityId]    Script Date: 05/12/2019 09:58:03 ******/
CREATE NONCLUSTERED INDEX [IX_TravelPackageCityAttractions_TravelPackageCityId] ON [dbo].[TravelPackageCityAttractions]
(
	[TravelPackageCityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vouchers_CustomerId]    Script Date: 05/12/2019 09:58:03 ******/
CREATE NONCLUSTERED INDEX [IX_Vouchers_CustomerId] ON [dbo].[Vouchers]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [DateTime]
GO
ALTER TABLE [dbo].[TravelPackages] ADD  DEFAULT ((1)) FOR [StatusId]
GO
ALTER TABLE [dbo].[TravelPackages] ADD  DEFAULT ((0)) FOR [DurationDay]
GO
ALTER TABLE [dbo].[TravelPackages] ADD  DEFAULT ((0)) FOR [DurationNight]
GO
ALTER TABLE [dbo].[TravelPackages] ADD  DEFAULT ((0)) FOR [IntensityId]
GO
ALTER TABLE [dbo].[TravelPackages] ADD  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT (dateadd(month,(3),getdate())) FOR [Expires]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CityAttractions]  WITH CHECK ADD  CONSTRAINT [FK_CityAttractions_Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[CityAttractions] CHECK CONSTRAINT [FK_CityAttractions_Cities_CityId]
GO
ALTER TABLE [dbo].[CustomerTravelPackages]  WITH CHECK ADD  CONSTRAINT [FK_CustomerTravelPackages_People_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[People] ([Id])
GO
ALTER TABLE [dbo].[CustomerTravelPackages] CHECK CONSTRAINT [FK_CustomerTravelPackages_People_CustomerId]
GO
ALTER TABLE [dbo].[CustomerTravelPackages]  WITH CHECK ADD  CONSTRAINT [FK_CustomerTravelPackages_TravelPackages_TravelPackageId] FOREIGN KEY([TravelPackageId])
REFERENCES [dbo].[TravelPackages] ([Id])
GO
ALTER TABLE [dbo].[CustomerTravelPackages] CHECK CONSTRAINT [FK_CustomerTravelPackages_TravelPackages_TravelPackageId]
GO
ALTER TABLE [dbo].[CustomerTravelPackages]  WITH CHECK ADD  CONSTRAINT [FK_CustomerTravelPackages_Vouchers_VoucherId] FOREIGN KEY([VoucherId])
REFERENCES [dbo].[Vouchers] ([Id])
GO
ALTER TABLE [dbo].[CustomerTravelPackages] CHECK CONSTRAINT [FK_CustomerTravelPackages_Vouchers_VoucherId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_CustomerTravelPackages_CustomerTravelPackageId] FOREIGN KEY([CustomerTravelPackageId])
REFERENCES [dbo].[CustomerTravelPackages] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_CustomerTravelPackages_CustomerTravelPackageId]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_People_TravelProviders_TravelProviderId] FOREIGN KEY([TravelProviderId])
REFERENCES [dbo].[TravelProviders] ([Id])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_People_TravelProviders_TravelProviderId]
GO
ALTER TABLE [dbo].[TravelPackageCities]  WITH CHECK ADD  CONSTRAINT [FK_TravelPackageCities_Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[TravelPackageCities] CHECK CONSTRAINT [FK_TravelPackageCities_Cities_CityId]
GO
ALTER TABLE [dbo].[TravelPackageCities]  WITH CHECK ADD  CONSTRAINT [FK_TravelPackageCities_TravelPackages_TravelPackageId] FOREIGN KEY([TravelPackageId])
REFERENCES [dbo].[TravelPackages] ([Id])
GO
ALTER TABLE [dbo].[TravelPackageCities] CHECK CONSTRAINT [FK_TravelPackageCities_TravelPackages_TravelPackageId]
GO
ALTER TABLE [dbo].[TravelPackageCityAttractions]  WITH CHECK ADD  CONSTRAINT [FK_TravelPackageCityAttractions_CityAttractions_CityAttractionId] FOREIGN KEY([CityAttractionId])
REFERENCES [dbo].[CityAttractions] ([Id])
GO
ALTER TABLE [dbo].[TravelPackageCityAttractions] CHECK CONSTRAINT [FK_TravelPackageCityAttractions_CityAttractions_CityAttractionId]
GO
ALTER TABLE [dbo].[TravelPackageCityAttractions]  WITH CHECK ADD  CONSTRAINT [FK_TravelPackageCityAttractions_TravelPackageCities_TravelPackageCityId] FOREIGN KEY([TravelPackageCityId])
REFERENCES [dbo].[TravelPackageCities] ([Id])
GO
ALTER TABLE [dbo].[TravelPackageCityAttractions] CHECK CONSTRAINT [FK_TravelPackageCityAttractions_TravelPackageCities_TravelPackageCityId]
GO
ALTER TABLE [dbo].[Vouchers]  WITH CHECK ADD  CONSTRAINT [FK_Vouchers_People_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[People] ([Id])
GO
ALTER TABLE [dbo].[Vouchers] CHECK CONSTRAINT [FK_Vouchers_People_CustomerId]
GO
USE [master]
GO
