
@{
    ViewData["Title"] = "Pay";
}

<h1>Pay</h1>
<br />
<br />
<br />
<br />
<h4>Thank you for Travelling with us</h4>
<h4>Hope you enjoy your trip</h4>

<a asp-area="Customer" asp-action="Comment" asp-route-id="1" >Leave your comment</a>

