@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="/images/news.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="home_content">
                    <div class="home_content_inner">
                        <div class="home_title">Register</div>
                        <div class="home_breadcrumbs">
                            <ul class="home_breadcrumbs_list">
                                <li class="home_breadcrumb">
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="home_breadcrumb">Register to get best deals</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />

<!-- Register -->

<div class="contact">
    <div class="container">
        <div class="row contact_content">
            <div class="col-lg-5">
                <div class="contact_text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla lectus nec diam auctor, ut fringilla diam sagittis. Quisque vel est id justo faucibus dapibus id a nibh. Aenean suscipit consequat lacus, sit amet mollis nulla. Morbi sagittis orci id lacus convallis tempus eget sit amet metus.</p>
                </div>
                <div class="contact_info">
                    <div class="contact_info_box">i</div>
                    <div class="contact_info_container">
                        <div class="contact_info_content">
                            <ul>
                                <li>Address: 1481 Creekside Lane Avila Beach, CA 93424</li>
                                <li>Phone: +53 345 7953 32453</li>
                                <li>Email: miloThemes@gmail.com</li>
                            </ul>
                        </div>
                        <div class="contact_info_social">
                            <ul>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="contact_form_container">
                    <section>
                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <h4>Create a new account.</h4>
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.Forename"></label>
                                <input asp-for="Input.Forename" class="form-control" />
                                <span asp-validation-for="Input.Forename" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Surname"></label>
                                <input asp-for="Input.Surname" class="form-control" />
                                <span asp-validation-for="Input.Surname" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </form>
                    </section>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
